<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bank
			{% endblock %}
		</title>
		<link rel="icon" href="https://placehold.co/10"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.tailwindcss.com"></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="flex flex-col min-h-screen stretch bg-[#F3F4F6] text-[#374151]">
		<header class="bg-[#00897B] text-white p-4 w-full">
			<nav class="flex items-center justify-between w-3/4 mx-auto">
				<div class="flex items-center gap-8">
					<a href="{{ path('app_home') }}" class="title">
						Bank
					</a>
					<a href="{{ path('app_home') }}" class="hover:text-[#D1FAE5]">Accueil</a>
					<a href="{{ path('app_about') }}" class="hover:text-[#D1FAE5]">A propos</a>
					<a href="{{ path('app_contact') }}" class="hover:text-[#D1FAE5]">Contact</a>
				</div>

				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_clients') }}" class="hover:text-[#D1FAE5]">Clients</a>
					{% else %}
						<a href="{{ path('app_accounts') }}" class="hover:text-[#D1FAE5]">Mon espace personnel</a>
					{% endif %}
				{% else %}
					<a href="{{ path('app_login') }}" class="hover:text-[#D1FAE5]">Connexion</a>
				{% endif %}
			</nav>
		</header>

		<main class="m-4 mx-auto w-[60%] text-[18px] leading-[1.5] font-sans"> {% block body %}{% endblock %}
			</main>

			<footer class="text-center mt-auto bg-[#E5E7EB] py-6">
				<div class="container mx-auto">
					<div class="grid grid-cols-1 md:grid-cols-4 gap-6 text-[#374151]">
						<section>
							<p class="font-bold mb-2">Offres Bancaires</p>
							<ul class="space-y-1">
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Cartes bancaires</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Placements</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Crédits</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Assurances</a>
								</li>
							</ul>
						</section>
						<section>
							<p class="font-bold mb-2">Ouvrir un compte</p>
							<ul class="space-y-1">
								<li>
									<a href="{{ path('app_register') }}" class="text-[#00897B] hover:underline">Ouvrir un compte en ligne</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Offre jeune</a>
								</li>
							</ul>
						</section>
						<section>
							<p class="font-bold mb-2">Protections</p>
							<ul class="space-y-1">
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Assurances auto</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Assurances habitation</a>
								</li>
							</ul>
						</section>
						<section>
							<p class="font-bold mb-2">Conseils</p>
							<ul class="space-y-1">
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Serices</a>
								</li>
								<li>
									<a href="/" class="text-[#00897B] hover:underline">Aléas de la vie</a>
								</li>
							</ul>
						</section>
					</div>
					<div>
						<p>&copy;
							{{ 'now'|date('Y') }}
							- BankApp</p>
					</div>
				</div>
			</footer>
		</body>
	</html>
