{% extends 'base.html.twig' %}

{% block title %}Clients-bank admin{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">

<div class="example-wrapper">
    <p class="text-2xl font-bold text-black-700">Accounts</p>
    <div class="scroll-container">
        {% for account in accounts %}
            <div class="client-card">
                <p class="text-lg font-semibold text-gray-700">
                    ID: <span class="text-blue-500">{{ account.id }}</span>
                </p>
                <p class="text-lg font-semibold text-gray-700">
                    Type: <span class="text-blue-500">{{ account.accountType }}</span>
                </p>
                <p class="text-lg font-semibold text-gray-700">
                    Montant: <span class="text-blue-500">{{ account.balance }}</span>
                </p>
                <p class="text-lg font-semibold text-gray-700">
                    Nombre: <span class="text-blue-500">{{ account.accountNumber }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}