{% extends 'base.html.twig' %}

{% block title %}Mon espace personnel - Bank{% endblock %}

{% block body %}
    <p class="text-2xl font-bold text-black-700">Comptes</p>
    <div>
        {% for account in accounts %}
            <a class="flex justify-around items-center mt-5 p-1 bg-gray-200 rounded-lg shadow" href="{{ path('app_accounts_details', {id: account.id}) }}">
                <div>
                    <p class="text-lg font-semibold text-gray-700">
                        Compte
                        <span class="text-blue-500">{{ account.accountType }}</span>, &#8470; <span class="text-gray-500 italic">{{ account.accountNumber }}</span>
                    </p>
                    <p class="text-4xl font-semibold text-gray-700">
                        <span class="text-blue-500">{{ account.balance }}</span>
                        €
                    </p>
                    <p>{{ account.id }}</p>
                </div>
                <div>
                    <canvas id="{{ account.id }}"></canvas>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="flex justify-between">
        <a href="{{ path('app_accounts_new') }}" class="btn btn-primary">Ajouter un compte</a>
        <a href="{{ path('app_logout') }}" class="btn btn-secondary">Déconnexion</a>
    </div>
{% endblock %}
